# Игнорировать скомпилированные файлы Python
*.pyc
__pycache__

# Игнорировать виртуальные окружения
venv/
env/
.venv*/

# Игнорировать файлы IntelliJ IDEA
.idea/
*.iml

# Игнорировать XML-файлы конфигурации (если не нужны)
misc.xml
modules.xml
vcs.xml

# Игнорировать лог-файлы
*.log

# Игнорировать системные файлы
.DS_Store

# Игнорировать файлы зависимостей, если они генерируются
requirements.txt  # раскомментируйте, если не хотите отслеживать

# Игнорировать временные файлы или конфигурации
*.cfg

# Игнорировать базы данных или бинарные файлы (если применимо)
*.db
casino_bot.log
